@model StoremeErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<div class="container col-xl-10 col-xxl-10 px-2 py-5">
    <div class="row align-items-center g-lg-2 py-5">
        <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 mb-3">Oops, something went wrong</h1>
            <p class="col-lg-10 fs-5">@Model.Message</p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
            @*<img src="https://icon-library.com/images/error-icon-transparent/error-icon-transparent-13.jpg" width="300" />*@
            <img src = "~/svg/error.svg" alt="Error" width="350"/>
        </div>
    </div>
</div>



